{{>header}}
<script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
<script type="text/javascript" src="papaparse.min.js"></script>
<input class="fileInput" type="file" id="input" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Choose a File to Upload"/> 
<button class="btn btn-outline-primary" id="doneButton">Done</button>

{{!-- <div class="table-responsive" >

  <table class="table table-hover">

    <thead class="table-dark " >

      <tr>
        {{#each dbCols}}
          <th class="columns">
            {{this.name}}
          </th>
        {{/each}}
      </tr>

      <tr>

        {{#each dbCols}}

          <th>

            <select class="custom-select btn btn-outline-primary dropDownMenus dropDownMenuItems" id="selectedFor{{this.name}}" >
              <option selected>Choose a Column</option>

            </select> --}}

            {{!-- <div class="dropdown dropDownMenus">
              <button class="btn  btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButtonFor{{value}}" data-bs-toggle="dropdown" aria-expanded="false">
                choose
              </button>
              <ul class="dropdown-menu dropDownMenuItems" aria-labelledby="dropdownMenuButtonFor{{value}}">
                
              </ul>
            </div> --}}

        {{!-- </th>

        {{/each}}

      </tr>

    </thead>

    <tbody id="tableBody" >

      <tr id="tableHead" >

      </tr>

    </tbody>

  </table>
</div> --}}
<div class="container"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <i id="cancelBtn" class="fas fa-window-close"></i>
      </div>
    </div>
    <div class="row">
      {{#each dbCols}}
        <div class="col-md-3">
          <div class="card">

            <div class="card-body columns">
              {{this.name}}
            </div>

            <div class="card-body">
              <select class="form-select dropDownMenus dropDownMenuItems" id="selectedFor{{this.name}}" aria-label="Default select example">
                <option selected>Choose Column</option>
              </select>
            </div>
            
          </div>
        </div>
      {{/each}}
    </div>
    
    <div>
    <button class="btn btn-primary mybtn-left" id="uploadButton1">
      <i class="far fa-eye"></i> Preview
    </button>
    <button class="btn btn-success mybtn-right" id="uploadButton">
      <i class="fas fa-cloud-upload-alt"></i> Upload
    </button>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Status</h5>
      </div>
      <div class="modal-body" id="upload-status">
        
      </div>
    </div>
  </div>
</div>

<div id="previewSection" class="container center-align" style="visibility: hidden;">
  <h3>PREVIEW</h3>
  <div class="table-responsive" style="width: 80%">
    <table class="preview-table table table-striped table-borderless">
      <tbody id="tableBody" class="noborder">
      </tbody>
    </table>
  </div>
  <button class="btn btn-success btn-style add-shadow" id="previewUploadBtn">
    <i class="fas fa-cloud-upload-alt" style="padding: 5px;"></i> Upload
  </button>
</div>

<script src='homePage.js'></script>
