<table class="table table-bordered">
  <thead>
    <tr line-height="50px">
        <th scope="col">Id</th>
      <th scope="col">user type</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">password</th>
      <th scope="col">status</th>
      <th scope="col">role id</th>
      <th scope="col">first name</th>
      <th scope="col">last name</th>
      <th scope="col">mobile</th>
      <th scope="col">department</th>
      <th scope="col">designation id</th>
      <th scope="col">uploader id</th>
    </tr>
    
  </thead>
  <tbody>
      {{#each rows}}
      <th scope="row">{{this.id}}</th>
      <td>{{this.user_type}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.email}}</td>
       <td>{{this.user_password}}</td>
       <td>{{this.user_status}}</td>
       <td>{{this.role_id}}</td>
       <td>{{this.first_name}}</td>
       <td>{{this.last_name}}</td>
       <td>{{this.mobile}}</td>
       <td>{{this.dept_id}}</td>
       <td>{{this.designation_id}}</td>
       <td>{{this.uploader_id}}</td>
       
       
    </tr>
    {{/each}}
  </tbody>
</table>