{{>header}}
{{!-- </ul> --}} 
<div class="container">
  <h2 class="headTitle container">Schema</h2>
  
  <div class="row">
    <div class="col-md-6">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        {{#each show_tables}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{this.id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this.id}}" aria-expanded="false" aria-controls="flush-collapse{{this.id}}">
        {{this.name}}
      </button>
    </h2>
    <div id="flush-collapse{{this.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{this.id}}" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{this.description}}
        <p>{{this.format}}</p>
      </div>
    </div>
  </div>
{{/each}}
</div>



</div>

</div>
<div class="viewbtn">
 <a href="/view/table" class="btn btn-view">View data</a>
 </div>
</div>

