{{>header}}
<link rel="stylesheet" href="/css/style.css">

<div>
<table class="table table-bordered table-success table-striped container des">
  <thead class="table-dark">
    <tr line-height="50px">
      {{#each columns}}
        <th scope="col">{{this.name}}</th>
      {{/each}}
      <th scope="col">Uploaded On</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    {{#each rows}}
      <tr>
        {{!-- <th scope="row">{{this.id}}</th> --}}
        <td>{{this.userType}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
        <td>{{this.userPassword}}</td>
        <td>{{this.userStatus}}</td>
        <td>{{this.roleId}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.deptId}}</td>
        <td>{{this.designationId}}</td>
        <td>{{this.createdAt}}</td>
         <td class="text-end"><a href="/view/table/{{this.id}}" type="button" class="btn btn-info btn-small"><i class="bi bi-person-x"></i> Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>